// Place all the styles related to the Chirps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chirpcontainer {
	width: 600px;
	margin: 0 auto;
}

.chirp {
	background-color: #f5f5f5;
	padding: 10px 10px 10px 10px;
	/*border-radius: 5px;*/
	overflow: hidden;
	font-size: 1.1em;
	margin: 8px 0;
	border-bottom: solid 2px #907e9c;
	border-top: solid 1px #fb70aa;
}

.chirptext {
	float:right;
	width: 490px;
	word-wrap: break-word;
	margin-top: 3px;
}

.chirp .date {
	float: right;
}

.chirp .user {
	font-weight: bolder;
	letter-spacing: .05em;
	margin-top: 0;
	display:inline;
}
.chirp .handle {
	padding-left: 5px;
	color: #6a527a;
}

.avatar {
	width: 80px;
	height: 80px;
	float: left;
	border-radius: 40px;
	//border: solid 1px #907e9c;
}








#new_chirp input {		
	display: block;
}

#new_chirp input[type="submit"] {
	width: 200px;
	background-color: #46285a;
	line-height: 30px;
	color: #907e9c;
	text-transform: uppercase;
	font-weight: bolder;
	float: right;
	margin-right: 10px;
	font-size: 1.2em;
}


#new_chirp textarea {
	margin: 6px auto;
	width: 540px;
	font-size: 1.3em;
	padding: 10px;
	border-radius: 6px;
	color: #46285a;
}

#new_chirp span {
	float:right;
	margin: 1px 20px;
	font-weight: bolder;
	vertical-align: middle;
	font-size: 1.5em;
	color: #6a527a;
}
